<tr id="<%= 'article-' + article.id.to_s %>">
    <td><%= article.title %></td>
    <td><%= article.post %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, remote: :true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>