<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <%= render "article", article: article%>
    <% end %>
  </tbody>
</table>